.split {
  height: 100%;
  width: 50%;
  position: fixed;
  padding: 5%;
}

.left {
  left: 0;
  background-color: gray;
}

.right {
  right: 0;
  background-color: lightblue;
}

.centered {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.h1 {
  column-span: all;
  text-align: center;
}

.rules {
  padding: 25px 50px 20px;
  margin-left: 40px;
  margin-right: 40px;
}

#reload {
  column-span: all;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
} 

#p1win {
  display: none;
  color: rgba(255, 187, 0, 0.993);
  font-size: 30px;
}

#p2win {
  display: none;
  color: rgba(255, 187, 0, 0.993);
  font-size: 30px;
}

.winner {
  max-width: 150px;
  max-height: 150px;
  height: auto;
  width: auto;
  margin: 0 auto;
}

